*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    width: 700px;
    height: 750px;
    object-fit: cover;
    margin: 50px;
    /*
    border-radius: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 50%;
    border-bottom-left-radius: 30px;
    */

    border-radius: 50%;


}