@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #320DA8;
    font-family: "Raleway", serif;
}

.card{
    background-color: #fff;
    padding-bottom: 30px;
    width: 350px;
    margin: 30px;
}

.card__texts{
    padding: 30px 20px;
}

.card__img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card__date{
    font-weight: 300;
}

.card__title{
    color: #ff0000;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card__paragraph{
    line-height: 1.7;
    font-weight: 500;
    margin-bottom: 20px;
}


.card__cta{
    display: inline-block;
    background-color: #320DA8;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 300;
}